In [2]:
import pandas as pd
import numpy as np

In [56]:
training_set_csv = ['train-2.csv', 'train-3.csv', 'train-4.csv', 'train-5.csv', 'train-6.csv', 'train-7.csv', 'train-8.csv']

training_set = pd.read_csv('train-1.csv')
for csv in training_set_csv:
    file = pd.read_csv(csv) 
    training_set = pd.concat([training_set, file], axis=0)


training_set['startYear'] = np.where(training_set['startYear'] == '\\N', training_set['endYear'], training_set['startYear'])
training_set = training_set.drop('endYear', axis=1)
training_set['runtimeMinutes'] = np.where(training_set['runtimeMinutes'] == '\\N', '0', training_set['runtimeMinutes'])
training_set

,Unnamed: 0,tconst,primaryTitle,originalTitle,startYear,runtimeMinutes,numVotes,label
0,4,tt0010600,The Doll,Die Puppe,1919,66,1898.0,True
1,7,tt0011841,Way Down East,Way Down East,1920,145,5376.0,True
2,9,tt0012494,Déstiny,Der müde Tod,1921,97,5842.0,True
3,25,tt0015163,The Navigator,The Navigator,1924,59,9652.0,True
4,38,tt0016220,The Phantom of the Opera,The Phantom of the Opera,1925,93,17887.0,True
...,...,...,...,...,...,...,...,...
988,9966,tt9625664,Trauma Center,NaN,2019,87,12951.0,False
989,9981,tt9741310,Slaxx,Slaxx,2020,77,2464.0,False
990,9982,tt9742392,Kindred,Kindred,2020,101,1719.0,False
991,9996,tt9850386,The Bee Gees: How Can You Mend a Broken Heart,NaN,2020,111,4144.0,True
992,9999,tt9911196,The Marriage Escape,De beentjes van Sint-Hildegard,2020,103,3242.0,True

ERROR:root:Exception while sending command.
Traceback (most recent call last):
  File "/Users/valentinnegru/opt/anaconda3/lib/python3.9/site-packages/py4j/clientserver.py", line 511, in send_command
    answer = smart_decode(self.stream.readline()[:-1])
  File "/Users/valentinnegru/opt/anaconda3/lib/python3.9/socket.py", line 704, in readinto
    return self._sock.recv_into(b)
ConnectionResetError: [Errno 54] Connection reset by peer

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/valentinnegru/opt/anaconda3/lib/python3.9/site-packages/py4j/java_gateway.py", line 1038, in send_command
    response = connection.send_command(command)
  File "/Users/valentinnegru/opt/anaconda3/lib/python3.9/site-packages/py4j/clientserver.py", line 539, in send_command
    raise Py4JNetworkError(
py4j.protocol.Py4JNetworkError: Error while sending or receiving

In [57]:
training_set['runtimeMinutes'] = training_set['runtimeMinutes'].astype(float)

In [59]:
training_set

,Unnamed: 0,tconst,primaryTitle,originalTitle,startYear,runtimeMinutes,numVotes,label
0,4,tt0010600,The Doll,Die Puppe,1919,66.0,1898.0,True
1,7,tt0011841,Way Down East,Way Down East,1920,145.0,5376.0,True
2,9,tt0012494,Déstiny,Der müde Tod,1921,97.0,5842.0,True
3,25,tt0015163,The Navigator,The Navigator,1924,59.0,9652.0,True
4,38,tt0016220,The Phantom of the Opera,The Phantom of the Opera,1925,93.0,17887.0,True
...,...,...,...,...,...,...,...,...
988,9966,tt9625664,Trauma Center,NaN,2019,87.0,12951.0,False
989,9981,tt9741310,Slaxx,Slaxx,2020,77.0,2464.0,False
990,9982,tt9742392,Kindred,Kindred,2020,101.0,1719.0,False
991,9996,tt9850386,The Bee Gees: How Can You Mend a Broken Heart,NaN,2020,111.0,4144.0,True
992,9999,tt9911196,The Marriage Escape,De beentjes van Sint-Hildegard,2020,103.0,3242.0,True

In [60]:
corr = training_set['runtimeMinutes'].corr(training_set['numVotes'])

In [61]:
print(corr)

0.16941395959686534

In [62]:
correlations = training_set.corr()['label'].abs().sort_values(ascending=False)

In [63]:
print(correlations)

label             1.000000
runtimeMinutes    0.299443
Unnamed: 0        0.202384
numVotes          0.168973
Name: label, dtype: float64

In [64]:
training_set['Unnamed: 0'] = training_set.index

In [65]:
training_set

,Unnamed: 0,tconst,primaryTitle,originalTitle,startYear,runtimeMinutes,numVotes,label
0,0,tt0010600,The Doll,Die Puppe,1919,66.0,1898.0,True
1,1,tt0011841,Way Down East,Way Down East,1920,145.0,5376.0,True
2,2,tt0012494,Déstiny,Der müde Tod,1921,97.0,5842.0,True
3,3,tt0015163,The Navigator,The Navigator,1924,59.0,9652.0,True
4,4,tt0016220,The Phantom of the Opera,The Phantom of the Opera,1925,93.0,17887.0,True
...,...,...,...,...,...,...,...,...
988,988,tt9625664,Trauma Center,NaN,2019,87.0,12951.0,False
989,989,tt9741310,Slaxx,Slaxx,2020,77.0,2464.0,False
990,990,tt9742392,Kindred,Kindred,2020,101.0,1719.0,False
991,991,tt9850386,The Bee Gees: How Can You Mend a Broken Heart,NaN,2020,111.0,4144.0,True
992,992,tt9911196,The Marriage Escape,De beentjes van Sint-Hildegard,2020,103.0,3242.0,True

In [66]:
correlations = training_set.corr()['label']
print(correlations)

Unnamed: 0       -0.200263
runtimeMinutes    0.299443
numVotes          0.168973
label             1.000000
Name: label, dtype: float64

In [67]:
correlations = correlations[1:]
correlations = correlations[:-1]

In [68]:
print(correlations)

runtimeMinutes    0.299443
numVotes          0.168973
Name: label, dtype: float64

## Low-rated movies

The following are the movies that were low-rated by users:

In [69]:
training_set[training_set['label'] == False]

,Unnamed: 0,tconst,primaryTitle,originalTitle,startYear,runtimeMinutes,numVotes,label
6,6,tt0021015,Juno and the Paycock,NaN,1929,85.0,2275.0,False
26,26,tt0035009,The Mad Monster,NaN,1942,77.0,1720.0,False
28,28,tt0036716,Cobra Woman,Cobra Woman,1944,71.0,1101.0,False
38,38,tt0040626,My Dear Secretary,My Dear Secretary,1948,94.0,NaN,False
56,56,tt0046248,Robot Monster,Robot Monster,1953,66.0,4924.0,False
...,...,...,...,...,...,...,...,...
983,983,tt9347730,Candyman,NaN,2021,91.0,44515.0,False
987,987,tt9624766,Jiu Jitsu,NaN,2020,102.0,7920.0,False
988,988,tt9625664,Trauma Center,NaN,2019,87.0,12951.0,False
989,989,tt9741310,Slaxx,Slaxx,2020,77.0,2464.0,False
990,990,tt9742392,Kindred,Kindred,2020,101.0,1719.0,False

In [70]:
# Check if runtimeMinutes has any 'NaN' values
training_set['numVotes'].isnull().any()

True

In [71]:
yearly_minutes = training_set.groupby(training_set['startYear'])['runtimeMinutes'].mean()

In [72]:
yearly_minutes

startYear
1918     93.000000
1919     66.000000
1920    106.000000
1921     94.250000
1922    117.000000
           ...
2017    104.750000
2018    107.863492
2019    107.785498
2020    102.852018
2021    111.066667
Name: runtimeMinutes, Length: 104, dtype: float64

In [73]:
# join the two dataframes on the 'year' column
training_set_merged = pd.merge(training_set, yearly_minutes, on='startYear', suffixes=('_df1', '_df2'))

# replace the '0' values in the 'value_df1' column with the values from the 'value_df2' column
training_set_merged['runtimeMinutes_df1'] = training_set_merged['runtimeMinutes_df1'].fillna(training_set_merged['runtimeMinutes_df2'])

# drop the 'value_df2' column
training_set_merged = training_set_merged.drop('runtimeMinutes_df2', axis=1)

# print the result
print(training_set_merged)

      Unnamed: 0     tconst              primaryTitle  \
0              0  tt0010600                  The Doll
1              1  tt0011841             Way Down East
2              0  tt0011607        The Parson's Widow
3              0  tt0011439         The Mark of Zorro
4              2  tt0012494                   Déstiny
...          ...        ...                       ...
7954           7  tt0021409  Under the Roofs of Paris
7955           9  tt0020768                 City Girl
7956           0  tt0013257                     Häxan
7957           1  tt0013556                Robin Hood
7958           0  tt0009369                    Mickey

                originalTitle startYear  runtimeMinutes_df1  numVotes  label
0                   Die Puppe      1919                66.0    1898.0   True
1               Way Down East      1920               145.0    5376.0   True
2                  Prästänkan      1920                94.0    1264.0   True
3           The Mark of Zorro      1920                79.0    2439.0   True
4                Der müde Tod      1921                97.0    5842.0   True
...                       ...       ...                 ...       ...    ...
7954  Sous les toits de Paris      1930                96.0    2214.0   True
7955                      NaN      1930                77.0    3199.0   True
7956                    Häxan      1922                91.0   13679.0   True
7957                      NaN      1922               143.0    2178.0   True
7958                   Mickey      1918                93.0    1119.0  False

[7959 rows x 8 columns]

In [74]:
yearly_votes = training_set.groupby(training_set['startYear'])['numVotes'].mean()
yearly_votes

startYear
1918     1119.000000
1919     1898.000000
1920     3026.333333
1921    42835.666667
1922     7928.500000
            ...
2017    22245.336700
2018    16634.300725
2019    27051.881757
2020    12430.121827
2021    13107.164384
Name: numVotes, Length: 104, dtype: float64

# Handling missing values for the originalTitle column

There are missing values for some of the original title names (around half are missing) so these were replaced with the value that was in the same row from the column primaryTitle. This is done based on the fact that many values in primaryTitle and originalTitle match up for other values

In [75]:
num_missing = training_set['originalTitle'].isna().sum()
num_missing

3988

In [76]:
#replace all missing values in originalTitle with the value from the same row from the primaryTitle column
training_set['originalTitle'] = training_set['originalTitle'].fillna(value=training_set['primaryTitle'])
training_set

,Unnamed: 0,tconst,primaryTitle,originalTitle,startYear,runtimeMinutes,numVotes,label
0,0,tt0010600,The Doll,Die Puppe,1919,66.0,1898.0,True
1,1,tt0011841,Way Down East,Way Down East,1920,145.0,5376.0,True
2,2,tt0012494,Déstiny,Der müde Tod,1921,97.0,5842.0,True
3,3,tt0015163,The Navigator,The Navigator,1924,59.0,9652.0,True
4,4,tt0016220,The Phantom of the Opera,The Phantom of the Opera,1925,93.0,17887.0,True
...,...,...,...,...,...,...,...,...
988,988,tt9625664,Trauma Center,Trauma Center,2019,87.0,12951.0,False
989,989,tt9741310,Slaxx,Slaxx,2020,77.0,2464.0,False
990,990,tt9742392,Kindred,Kindred,2020,101.0,1719.0,False
991,991,tt9850386,The Bee Gees: How Can You Mend a Broken Heart,The Bee Gees: How Can You Mend a Broken Heart,2020,111.0,4144.0,True
992,992,tt9911196,The Marriage Escape,De beentjes van Sint-Hildegard,2020,103.0,3242.0,True

In [77]:
#check missing values
num_missing2 = training_set['originalTitle'].isna().sum()
num_missing2

0

In [78]:
#row 26 previously had a NaN value for originalTitle, check to see if the missing value was changed
row_data = training_set.iloc[26]
row_data[2:4]

primaryTitle     The Mad Monster
originalTitle    The Mad Monster
Name: 26, dtype: object

# SparkSQL

In [1]:
pip install pyspark

Requirement already satisfied: pyspark in /Users/valentinnegru/opt/anaconda3/lib/python3.9/site-packages (3.3.2)
Requirement already satisfied: py4j==0.10.9.5 in /Users/valentinnegru/opt/anaconda3/lib/python3.9/site-packages (from pyspark) (0.10.9.5)
Note: you may need to restart the kernel to use updated packages.

In [17]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import Row
from pyspark.sql.functions import col, when
from scipy.stats.mstats import winsorize

spark = SparkSession \
    .builder \
    .appName("Big Data Project") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

In [18]:
#Concat all the training data into one dataframe
files = ['train-2.csv', 'train-3.csv', 'train-4.csv', 'train-5.csv', 'train-6.csv', 'train-7.csv', 'train-8.csv']
training_set = spark.read.option("delimiter", ",").option("header", True).csv("train-1.csv")
for file in files:
    new_df = spark.read.option("delimiter", ",").option("header", True).csv(file)
    training_set = training_set.union(new_df)

In [19]:
#Replacing missing startYear with endYear
training_set = training_set.withColumn("startYear", when(training_set.startYear == "\\N", training_set.endYear).otherwise(training_set.startYear))
training_set = training_set.orderBy('tconst')
training_set = training_set.drop('endYear')
training_set.show(50)

+---+---------+--------------------+--------------------+---------+--------------+--------+-----+
|_c0|   tconst|        primaryTitle|       originalTitle|startYear|runtimeMinutes|numVotes|label|
+---+---------+--------------------+--------------------+---------+--------------+--------+-----+
|  2|tt0009369|              Mickey|              Mickey|     1918|            93|  1119.0|False|
|  4|tt0010600|            The Doll|           Die Puppe|     1919|            66|  1898.0| True|
|  5|tt0011439|   The Mark of Zorro|   The Mark of Zorro|     1920|            79|  2439.0| True|
|  6|tt0011607|  The Parson's Widow|          Prästänkan|     1920|            94|  1264.0| True|
|  7|tt0011841|       Way Down East|       Way Down East|     1920|           145|  5376.0| True|
|  8|tt0012349|             The Kid|                null|     1921|            68|121452.0| True|
|  9|tt0012494|             Déstiny|        Der müde Tod|     1921|            97|  5842.0| True|
| 10|tt0012532|Ớrpháns ớf thé Stớrm|                null|     1921|           150|    null| True|
| 11|tt0013257|               Häxan|               Häxan|     1922|            91| 13679.0| True|
| 12|tt0013556|          Robin Hood|                null|     1922|           143|  2178.0| True|
| 13|tt0013933|  The Faithful Heart|        Coeur fidèle|     1923|            87|  1252.0| True|
| 14|tt0014109|The Saga of Gösta...|                null|     1924|           183|  1231.0| True|
| 15|tt0014142|The Hunchback of ...|                null|     1923|           133|  5288.0| True|
| 16|tt0014341|     Our Hospitality|     Our Hospitality|     1923|            65| 10911.0| True|
| 17|tt0014358|         The Pilgrim|                null|     1923|            47|  4891.0| True|
| 19|tt0014538|          Three Ages|                null|     1923|            63|  4312.0| True|
| 20|tt0014611|          Why Worry?|                null|     1923|            63|  1739.0| True|
| 21|tt0014945|            Girl Shy|            Girl Shy|     1924|            87|  3327.0| True|
| 24|tt0015064|      The Last Laugh|     Der letzte Mann|     1924|            77|    null| True|
| 25|tt0015163|       The Navigator|       The Navigator|     1924|            59|  9652.0| True|
| 29|tt0015224|           Peter Pan|                null|     1924|           105|  1042.0| True|
| 30|tt0015361|              Strike|                null|     1925|            82|  7695.0| True|
| 31|tt0015400| The Thief of Bagdad|                null|     1924|           155|  6001.0| True|
| 32|tt0015841|        The Freshman|        The Freshman|     1925|            77|  5374.0| True|
| 33|tt0015842|  The Joyless Street|                null|     1925|           125|  1554.0| True|
| 35|tt0015864|       The Gold Rush|                null|     1925|            95|107475.0| True|
| 36|tt0015881|               Greed|                null|     1924|           140|  9649.0| True|
| 37|tt0016029|  The Little Colonel|                null|     1935|            81|  1646.0| True|
| 38|tt0016220|The Phantom of th...|The Phantom of th...|     1925|            93| 17887.0| True|
| 41|tt0016544|    The Wizard of Oz|                null|     1925|            95|  1497.0|False|
| 42|tt0016630|     Báttling Bútlér|     Battling Butler|     1926|            77|  3285.0| True|
| 43|tt0016641|Ben-Hur: A Tale o...|Ben-Hur: A Tale o...|     1925|           143|  7539.0| True|
| 44|tt0016847|               Faust|                null|     1926|           107| 14809.0| True|
| 45|tt0017048|   A Page of Madness|                null|     1926|            70|  3357.0| True|
| 47|tt0017271|          By the Law|                null|     1926|            80|  1057.0| True|
| 48|tt0017350|  The Scarlet Letter|                null|     1926|           115|  1768.0| True|
| 49|tt0017463|           3 Bad Men|           3 Bad Men|     1926|            92|  1165.0| True|
| 50|tt0017925|         The General|                null|     1926|            67| 87784.0| True|
| 51|tt0017961|           Happiness|                null|     1935|            95|  1080.0| True|
| 52|tt0018054|   Thé King ớf Kings|   The King of Kings|     1927|           160|  2081.0| True|
| 53|tt0018066|Thé Énd ớf St. Pé...|Konets Sankt-Pete...|     1927|            85|    null| True|
| 54|tt0018192|            Napoleon|Napoléon vu par A...|     1927|           330|  7622.0| True|
| 55|tt0018379|          7th Heaven|          7th Heaven|     1927|           110|  3499.0| True|
| 56|tt0018451|The Student Princ...|                null|     1927|           106|  1459.0| True|
| 57|tt0018526|          Úndérwớrld|                null|     1927|            80|  2912.0| True|
| 58|tt0018528|         The Unknown|                null|     1927|            63|  7850.0| True|
| 59|tt0018578|               Wings|                null|     1927|           144|    null| True|
| 60|tt0018684|     Beggars of Life|     Beggars of Life|     1928|           100|  1093.0| True|
| 62|tt0018742|       The Cameraman|       The Cameraman|     1928|            76| 11388.0| True|
| 63|tt0018773|          Thé Circús|                null|     1928|            72| 32601.0| True|
+---+---------+--------------------+--------------------+---------+--------------+--------+-----+
only showing top 50 rows

In [20]:
#replace missing values in original title with corresponding values in primary title
from pyspark.sql.functions import coalesce

def impute_missing_values(df, column_name):
    """
    This function replaces missing values in one column of the data frame with the values 
    from the corresponding row of another column.
    """
    
    df = df.withColumn(column_name, coalesce(df["primaryTitle"], df[column_name]))
    return df

In [21]:
training_set = impute_missing_values(training_set, "originalTitle")
training_set.show()

+---+---------+--------------------+--------------------+---------+--------------+--------+-----+
|_c0|   tconst|        primaryTitle|       originalTitle|startYear|runtimeMinutes|numVotes|label|
+---+---------+--------------------+--------------------+---------+--------------+--------+-----+
|  2|tt0009369|              Mickey|              Mickey|     1918|            93|  1119.0|False|
|  4|tt0010600|            The Doll|            The Doll|     1919|            66|  1898.0| True|
|  5|tt0011439|   The Mark of Zorro|   The Mark of Zorro|     1920|            79|  2439.0| True|
|  6|tt0011607|  The Parson's Widow|  The Parson's Widow|     1920|            94|  1264.0| True|
|  7|tt0011841|       Way Down East|       Way Down East|     1920|           145|  5376.0| True|
|  8|tt0012349|             The Kid|             The Kid|     1921|            68|121452.0| True|
|  9|tt0012494|             Déstiny|             Déstiny|     1921|            97|  5842.0| True|
| 10|tt0012532|Ớrpháns ớf thé Stớrm|Ớrpháns ớf thé Stớrm|     1921|           150|    null| True|
| 11|tt0013257|               Häxan|               Häxan|     1922|            91| 13679.0| True|
| 12|tt0013556|          Robin Hood|          Robin Hood|     1922|           143|  2178.0| True|
| 13|tt0013933|  The Faithful Heart|  The Faithful Heart|     1923|            87|  1252.0| True|
| 14|tt0014109|The Saga of Gösta...|The Saga of Gösta...|     1924|           183|  1231.0| True|
| 15|tt0014142|The Hunchback of ...|The Hunchback of ...|     1923|           133|  5288.0| True|
| 16|tt0014341|     Our Hospitality|     Our Hospitality|     1923|            65| 10911.0| True|
| 17|tt0014358|         The Pilgrim|         The Pilgrim|     1923|            47|  4891.0| True|
| 19|tt0014538|          Three Ages|          Three Ages|     1923|            63|  4312.0| True|
| 20|tt0014611|          Why Worry?|          Why Worry?|     1923|            63|  1739.0| True|
| 21|tt0014945|            Girl Shy|            Girl Shy|     1924|            87|  3327.0| True|
| 24|tt0015064|      The Last Laugh|      The Last Laugh|     1924|            77|    null| True|
| 25|tt0015163|       The Navigator|       The Navigator|     1924|            59|  9652.0| True|
+---+---------+--------------------+--------------------+---------+--------------+--------+-----+
only showing top 20 rows

In [22]:
#check missing values
from pyspark.sql.functions import col

training_set.filter(col("originalTitle").isNull()).show()

+---+------+------------+-------------+---------+--------------+--------+-----+
|_c0|tconst|primaryTitle|originalTitle|startYear|runtimeMinutes|numVotes|label|
+---+------+------------+-------------+---------+--------------+--------+-----+
+---+------+------------+-------------+---------+--------------+--------+-----+

In [23]:
# Use the DESCRIBE statement to view the schema of the table
#spark.sql("DESCRIBE training_set").show()

In [24]:
#transform numVotes to float
training_set = training_set.withColumn("numVotes", col("numVotes").cast("float"))

In [25]:
#check
training_set.select("numVotes").printSchema()

root
 |-- numVotes: float (nullable = true)

In [26]:
#finding & displaying outliers in the numVotes column

from pyspark.sql.functions import expr

#Temporary view of the dataframe
training_set.createOrReplaceTempView("training_set")

#Interquartile range (IQR)
q1, q3 = training_set.approxQuantile("numVotes", [0.25, 0.75], 0.01)
iqr = q3 - q1

#Upper and lower limits
upper_limit = q3 + 1.5 * iqr
lower_limit = q1 - 1.5 * iqr

#Find outliers
outliers = spark.sql(f"SELECT * FROM training_set WHERE numVotes > {upper_limit} OR numVotes < {lower_limit}")
outliers.show()

+---+---------+--------------------+--------------------+---------+--------------+--------+-----+
|_c0|   tconst|        primaryTitle|       originalTitle|startYear|runtimeMinutes|numVotes|label|
+---+---------+--------------------+--------------------+---------+--------------+--------+-----+
|  8|tt0012349|             The Kid|             The Kid|     1921|            68|121452.0| True|
| 35|tt0015864|       The Gold Rush|       The Gold Rush|     1925|            95|107475.0| True|
| 50|tt0017925|         The General|         The General|     1926|            67| 87784.0| True|
| 63|tt0018773|          Thé Circús|          Thé Circús|     1928|            72| 32601.0| True|
| 86|tt0021884|        Frankenstein|        Frankenstein|     1931|            70| 69780.0| True|
| 89|tt0022100|                   M|                   M|     1931|           117|152166.0| True|
|102|tt0022913|              Freaks|              Freaks|     1932|            64| 44794.0| True|
|117|tt0023969|           Dúck Sớúp|           Dúck Sớúp|     1933|            69| 59069.0| True|
|123|tt0024184|   The Invisible Man|   The Invisible Man|     1933|            71| 33562.0| True|
|125|tt0024216|           King Kong|           King Kong|     1933|           100| 83177.0| True|
|148|tt0026029|        Thé 39 Stéps|        Thé 39 Stéps|     1935|            86| 55071.0| True|
|169|tt0027977|        Modern Times|        Modern Times|     1936|            87|231243.0| True|
|207|tt0029947|    Bringing Up Baby|    Bringing Up Baby|     1938|           102| 59515.0| True|
|215|tt0030341|   The Lady Vanishes|   The Lady Vanishes|     1938|            96| 50707.0| True|
|230|tt0031381|  Gone with the Wind|  Gone with the Wind|     1939|           238|303845.0| True|
|247|tt0031971|          Stagecoach|          Stagecoach|     1939|            96| 46868.0| True|
|249|tt0032138|    The Wizard of Oz|    The Wizard of Oz|     1939|           102|382348.0| True|
|272|tt0032904|The Philadelphia ...|The Philadelphia ...|     1940|           112| 66874.0| True|
|273|tt0032910|           Pinocchio|           Pinocchio|     1940|            88|138477.0| True|
|278|tt0033045|The Shop Around t...|The Shop Around t...|     1940|            99| 30968.0| True|
+---+---------+--------------------+--------------------+---------+--------------+--------+-----+
only showing top 20 rows

In [27]:
#Count the number of outliers
outliers_count = outliers.count()
print(f"Number of outliers: {outliers_count}")

Number of outliers: 1138

In [28]:
#over 14% of numVotes values are considered to be outliers
#use winsorized mean to impute missing values, better than k-trimmed mean, otherwise too many values are removed
#mean is less affected by outliers & provides better representation

In [29]:


def replace_null_with_winsorized_mean(df, column_name):
    """
    This function replaces null values in a column with the winsorized mean of the column.
    """
    
    # Compute the median of the column
    median_value = df.selectExpr(f"percentile_approx({column_name}, 0.5)").collect()[0][0]
    
    # Replace null values with the median
    df = df.withColumn(column_name, when(col(column_name).isNull(), median_value).otherwise(col(column_name)))
    
    # Compute the winsorized mean of the column
    column = df.select(column_name).rdd.flatMap(lambda x: x).collect()
    winsorized_mean = winsorize(column, limits=[0.05, 0.05]).mean()
    
    # Replace null values with winsorized mean
    df = df.withColumn(column_name, when(col(column_name).isNull(), winsorized_mean).otherwise(col(column_name)))
    
    return df

In [30]:
training_set = replace_null_with_winsorized_mean(training_set, "numVotes")
training_set.show()

Py4JJavaError: An error occurred while calling z:org.apache.spark.api.python.PythonRDD.collectAndServe.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 60.0 failed 1 times, most recent failure: Lost task 0.0 in stage 60.0 (TID 209) (145.109.33.168 executor driver): org.apache.spark.SparkException: Python worker failed to connect back.
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:189)
	at org.apache.spark.api.python.PythonWorkerFactory.create(PythonWorkerFactory.scala:109)
	at org.apache.spark.SparkEnv.createPythonWorker(SparkEnv.scala:124)
	at org.apache.spark.api.python.BasePythonRunner.compute(PythonRunner.scala:157)
	at org.apache.spark.api.python.PythonRDD.compute(PythonRDD.scala:65)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:365)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:329)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:136)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:548)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1504)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:551)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1130)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:630)
	at java.base/java.lang.Thread.run(Thread.java:832)
Caused by: java.net.SocketTimeoutException: Accept timed out
	at java.base/sun.nio.ch.NioSocketImpl.timedAccept(NioSocketImpl.java:708)
	at java.base/sun.nio.ch.NioSocketImpl.accept(NioSocketImpl.java:752)
	at java.base/java.net.ServerSocket.implAccept(ServerSocket.java:684)
	at java.base/java.net.ServerSocket.platformImplAccept(ServerSocket.java:650)
	at java.base/java.net.ServerSocket.implAccept(ServerSocket.java:626)
	at java.base/java.net.ServerSocket.implAccept(ServerSocket.java:583)
	at java.base/java.net.ServerSocket.accept(ServerSocket.java:540)
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:176)
	... 14 more

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages(DAGScheduler.scala:2672)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:2608)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:2607)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:2607)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:1182)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:1182)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:1182)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:2860)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2802)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2791)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:952)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2238)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2259)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2278)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2303)
	at org.apache.spark.rdd.RDD.$anonfun$collect$1(RDD.scala:1021)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:406)
	at org.apache.spark.rdd.RDD.collect(RDD.scala:1020)
	at org.apache.spark.api.python.PythonRDD$.collectAndServe(PythonRDD.scala:180)
	at org.apache.spark.api.python.PythonRDD.collectAndServe(PythonRDD.scala)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:64)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:564)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:832)
Caused by: org.apache.spark.SparkException: Python worker failed to connect back.
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:189)
	at org.apache.spark.api.python.PythonWorkerFactory.create(PythonWorkerFactory.scala:109)
	at org.apache.spark.SparkEnv.createPythonWorker(SparkEnv.scala:124)
	at org.apache.spark.api.python.BasePythonRunner.compute(PythonRunner.scala:157)
	at org.apache.spark.api.python.PythonRDD.compute(PythonRDD.scala:65)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:365)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:329)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:136)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:548)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1504)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:551)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1130)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:630)
	... 1 more
Caused by: java.net.SocketTimeoutException: Accept timed out
	at java.base/sun.nio.ch.NioSocketImpl.timedAccept(NioSocketImpl.java:708)
	at java.base/sun.nio.ch.NioSocketImpl.accept(NioSocketImpl.java:752)
	at java.base/java.net.ServerSocket.implAccept(ServerSocket.java:684)
	at java.base/java.net.ServerSocket.platformImplAccept(ServerSocket.java:650)
	at java.base/java.net.ServerSocket.implAccept(ServerSocket.java:626)
	at java.base/java.net.ServerSocket.implAccept(ServerSocket.java:583)
	at java.base/java.net.ServerSocket.accept(ServerSocket.java:540)
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:176)
	... 14 more

In [ ]:
#Count the number of missing values in numVotes column

from pyspark.sql.functions import col, sum
missing_count = training_set.select(sum(col("numVotes").isNull().cast("int"))).collect()[0][0]
print(missing_count)

In [ ]:
def drop_column_inplace(df, column_to_drop):
    """
    This function takes a DataFrame and a column name to drop, and modifies 
    the DataFrame in place by dropping the column.
    """
    # Drop the column if it exists in the DataFrame
    if column_to_drop in df.columns:
        df = df.drop(column_to_drop)
    
    return df

In [ ]:
training_set = drop_column_inplace(training_set, "endYear")
training_set.show()

In [ ]:
genres = spark.read.option("delimiter", "\t").option("header", "true").csv("data.tsv")
genres.show()

In [ ]:
result_df = training_set.join(genres.select("tconst", "genres"), "tconst", "left_outer")
result_df = result_df.drop('endYear')
result_df = result_df.orderBy('tconst')
result_df.show()