In [10]:
import pandas as pd
import numpy as np

In [2]:
training_set_csv = ['train-2.csv', 'train-3.csv', 'train-4.csv', 'train-5.csv', 'train-6.csv', 'train-7.csv', 'train-8.csv']

training_set = pd.read_csv('train-1.csv')
for csv in training_set_csv:
    file = pd.read_csv(csv) 
    training_set = pd.concat([training_set, file], axis=0)


training_set['startYear'] = np.where(training_set['startYear'] == '\\N', training_set['endYear'], training_set['startYear'])
training_set = training_set.drop('endYear', axis=1)
training_set['runtimeMinutes'] = np.where(training_set['runtimeMinutes'] == '\\N', '0', training_set['runtimeMinutes'])
training_set

,Unnamed: 0,tconst,primaryTitle,originalTitle,startYear,runtimeMinutes,numVotes,label
0,4,tt0010600,The Doll,Die Puppe,1919,66,1898.0,True
1,7,tt0011841,Way Down East,Way Down East,1920,145,5376.0,True
2,9,tt0012494,Déstiny,Der müde Tod,1921,97,5842.0,True
3,25,tt0015163,The Navigator,The Navigator,1924,59,9652.0,True
4,38,tt0016220,The Phantom of the Opera,The Phantom of the Opera,1925,93,17887.0,True
...,...,...,...,...,...,...,...,...
988,9966,tt9625664,Trauma Center,NaN,2019,87,12951.0,False
989,9981,tt9741310,Slaxx,Slaxx,2020,77,2464.0,False
990,9982,tt9742392,Kindred,Kindred,2020,101,1719.0,False
991,9996,tt9850386,The Bee Gees: How Can You Mend a Broken Heart,NaN,2020,111,4144.0,True
992,9999,tt9911196,The Marriage Escape,De beentjes van Sint-Hildegard,2020,103,3242.0,True

In [15]:
training_set['runtimeMinutes'] = training_set['runtimeMinutes'].astype(float)

In [16]:
training_set

,Unnamed: 0,tconst,primaryTitle,originalTitle,startYear,runtimeMinutes,numVotes,label
0,4,tt0010600,The Doll,Die Puppe,1919,66.0,1898.0,True
1,7,tt0011841,Way Down East,Way Down East,1920,145.0,5376.0,True
2,9,tt0012494,Déstiny,Der müde Tod,1921,97.0,5842.0,True
3,25,tt0015163,The Navigator,The Navigator,1924,59.0,9652.0,True
4,38,tt0016220,The Phantom of the Opera,The Phantom of the Opera,1925,93.0,17887.0,True
...,...,...,...,...,...,...,...,...
988,9966,tt9625664,Trauma Center,NaN,2019,87.0,12951.0,False
989,9981,tt9741310,Slaxx,Slaxx,2020,77.0,2464.0,False
990,9982,tt9742392,Kindred,Kindred,2020,101.0,1719.0,False
991,9996,tt9850386,The Bee Gees: How Can You Mend a Broken Heart,NaN,2020,111.0,4144.0,True
992,9999,tt9911196,The Marriage Escape,De beentjes van Sint-Hildegard,2020,103.0,3242.0,True

In [17]:
corr = training_set['runtimeMinutes'].corr(training_set['numVotes'])

In [18]:
print(corr)

0.1694139595968653

In [19]:
correlations = training_set.corr()['label'].abs().sort_values(ascending=False)

In [20]:
print(correlations)

label             1.000000
runtimeMinutes    0.299443
Unnamed: 0        0.202384
numVotes          0.168973
Name: label, dtype: float64

In [21]:
training_set['Unnamed: 0'] = training_set.index

In [22]:
training_set

,Unnamed: 0,tconst,primaryTitle,originalTitle,startYear,runtimeMinutes,numVotes,label
0,0,tt0010600,The Doll,Die Puppe,1919,66.0,1898.0,True
1,1,tt0011841,Way Down East,Way Down East,1920,145.0,5376.0,True
2,2,tt0012494,Déstiny,Der müde Tod,1921,97.0,5842.0,True
3,3,tt0015163,The Navigator,The Navigator,1924,59.0,9652.0,True
4,4,tt0016220,The Phantom of the Opera,The Phantom of the Opera,1925,93.0,17887.0,True
...,...,...,...,...,...,...,...,...
988,988,tt9625664,Trauma Center,NaN,2019,87.0,12951.0,False
989,989,tt9741310,Slaxx,Slaxx,2020,77.0,2464.0,False
990,990,tt9742392,Kindred,Kindred,2020,101.0,1719.0,False
991,991,tt9850386,The Bee Gees: How Can You Mend a Broken Heart,NaN,2020,111.0,4144.0,True
992,992,tt9911196,The Marriage Escape,De beentjes van Sint-Hildegard,2020,103.0,3242.0,True

In [26]:
correlations = training_set.corr()['label']
print(correlations)

Unnamed: 0       -0.200263
runtimeMinutes    0.299443
numVotes          0.168973
label             1.000000
Name: label, dtype: float64

In [27]:
correlations = correlations[1:]
correlations = correlations[:-1]

In [31]:
print(correlations)

runtimeMinutes    0.299443
numVotes          0.168973
Name: label, dtype: float64

## Low-rated movies

The following are the movies that were low-rated by users:

In [25]:
training_set[training_set['label'] == False]

,Unnamed: 0,tconst,primaryTitle,originalTitle,startYear,runtimeMinutes,numVotes,label
6,6,tt0021015,Juno and the Paycock,NaN,1929,85.0,2275.0,False
26,26,tt0035009,The Mad Monster,NaN,1942,77.0,1720.0,False
28,28,tt0036716,Cobra Woman,Cobra Woman,1944,71.0,1101.0,False
38,38,tt0040626,My Dear Secretary,My Dear Secretary,1948,94.0,NaN,False
56,56,tt0046248,Robot Monster,Robot Monster,1953,66.0,4924.0,False
...,...,...,...,...,...,...,...,...
983,983,tt9347730,Candyman,NaN,2021,91.0,44515.0,False
987,987,tt9624766,Jiu Jitsu,NaN,2020,102.0,7920.0,False
988,988,tt9625664,Trauma Center,NaN,2019,87.0,12951.0,False
989,989,tt9741310,Slaxx,Slaxx,2020,77.0,2464.0,False
990,990,tt9742392,Kindred,Kindred,2020,101.0,1719.0,False

In [36]:
# Check if runtimeMinutes has any 'NaN' values
training_set['numVotes'].isnull().any()

True

In [42]:
yearly_minutes = training_set.groupby(training_set['startYear'])['runtimeMinutes'].mean()

In [43]:
yearly_minutes

startYear
1918     93.000000
1919     66.000000
1920    106.000000
1921     94.250000
1922    117.000000
           ...
2017    104.750000
2018    107.863492
2019    107.785498
2020    102.852018
2021    111.066667
Name: runtimeMinutes, Length: 104, dtype: float64

In [44]:
# join the two dataframes on the 'year' column
training_set_merged = pd.merge(training_set, yearly_minutes, on='startYear', suffixes=('_df1', '_df2'))

# replace the '0' values in the 'value_df1' column with the values from the 'value_df2' column
training_set_merged['runtimeMinutes_df1'] = training_set_merged['runtimeMinutes_df1'].fillna(training_set_merged['runtimeMinutes_df2'])

# drop the 'value_df2' column
training_set_merged = training_set_merged.drop('runtimeMinutes_df2', axis=1)

# print the result
print(training_set_merged)

      Unnamed: 0     tconst              primaryTitle  \
0              0  tt0010600                  The Doll
1              1  tt0011841             Way Down East
2              0  tt0011607        The Parson's Widow
3              0  tt0011439         The Mark of Zorro
4              2  tt0012494                   Déstiny
...          ...        ...                       ...
7954           7  tt0021409  Under the Roofs of Paris
7955           9  tt0020768                 City Girl
7956           0  tt0013257                     Häxan
7957           1  tt0013556                Robin Hood
7958           0  tt0009369                    Mickey

                originalTitle startYear  runtimeMinutes_df1  numVotes  label
0                   Die Puppe      1919                66.0    1898.0   True
1               Way Down East      1920               145.0    5376.0   True
2                  Prästänkan      1920                94.0    1264.0   True
3           The Mark of Zorro      1920                79.0    2439.0   True
4                Der müde Tod      1921                97.0    5842.0   True
...                       ...       ...                 ...       ...    ...
7954  Sous les toits de Paris      1930                96.0    2214.0   True
7955                      NaN      1930                77.0    3199.0   True
7956                    Häxan      1922                91.0   13679.0   True
7957                      NaN      1922               143.0    2178.0   True
7958                   Mickey      1918                93.0    1119.0  False

[7959 rows x 8 columns]

In [47]:
yearly_votes = training_set.groupby(training_set['startYear'])['numVotes'].mean()
yearly_votes

startYear
1918     1119.000000
1919     1898.000000
1920     3026.333333
1921    42835.666667
1922     7928.500000
            ...
2017    22245.336700
2018    16634.300725
2019    27051.881757
2020    12430.121827
2021    13107.164384
Name: numVotes, Length: 104, dtype: float64

# Handling missing values for the originalTitle column

There are missing values for some of the original title names (around half are missing) so these were replaced with the value that was in the same row from the column primaryTitle. This is done based on the fact that many values in primaryTitle and originalTitle match up for other values

In [17]:
num_missing = training_set['originalTitle'].isna().sum()
num_missing

3988

In [23]:
#replace all missing values in originalTitle with the value from the same row from the primaryTitle column
training_set['originalTitle'] = training_set['originalTitle'].fillna(value=training_set['primaryTitle'])
training_set

,Unnamed: 0,tconst,primaryTitle,originalTitle,startYear,runtimeMinutes,numVotes,label
0,4,tt0010600,The Doll,Die Puppe,1919,66,1898.0,True
1,7,tt0011841,Way Down East,Way Down East,1920,145,5376.0,True
2,9,tt0012494,Déstiny,Der müde Tod,1921,97,5842.0,True
3,25,tt0015163,The Navigator,The Navigator,1924,59,9652.0,True
4,38,tt0016220,The Phantom of the Opera,The Phantom of the Opera,1925,93,17887.0,True
...,...,...,...,...,...,...,...,...
988,9966,tt9625664,Trauma Center,Trauma Center,2019,87,12951.0,False
989,9981,tt9741310,Slaxx,Slaxx,2020,77,2464.0,False
990,9982,tt9742392,Kindred,Kindred,2020,101,1719.0,False
991,9996,tt9850386,The Bee Gees: How Can You Mend a Broken Heart,The Bee Gees: How Can You Mend a Broken Heart,2020,111,4144.0,True
992,9999,tt9911196,The Marriage Escape,De beentjes van Sint-Hildegard,2020,103,3242.0,True

In [24]:
#check missing values
num_missing2 = training_set['originalTitle'].isna().sum()
num_missing2

0

In [32]:
#row 26 previously had a NaN value for originalTitle, check to see if the missing value was changed
row_data = training_set.iloc[26]
row_data[2:4]

primaryTitle     The Mad Monster
originalTitle    The Mad Monster
Name: 26, dtype: object

# SparkSQL

In [35]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import Row
from pyspark.sql.functions import when

spark = SparkSession \
    .builder \
    .appName("Big Data Project") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

In [36]:
#Concat all the training data into one dataframe
files = ['train-2.csv', 'train-3.csv', 'train-4.csv', 'train-5.csv', 'train-6.csv', 'train-7.csv', 'train-8.csv']
training_set = spark.read.option("delimiter", ",").option("header", True).csv("train-1.csv")
for file in files:
    new_df = spark.read.option("delimiter", ",").option("header", True).csv(file)
    training_set = training_set.union(new_df)

In [38]:
#Replacing missing startYear with endYear
training_set = training_set.withColumn("startYear", when(training_set.startYear == "\\N", training_set.endYear).otherwise(training_set.startYear))
training_set.show(50)

+---+---------+--------------------+--------------------+---------+-------+--------------+--------+-----+
|_c0|   tconst|        primaryTitle|       originalTitle|startYear|endYear|runtimeMinutes|numVotes|label|
+---+---------+--------------------+--------------------+---------+-------+--------------+--------+-----+
|  4|tt0010600|            The Doll|           Die Puppe|     1919|     \N|            66|  1898.0| True|
|  7|tt0011841|       Way Down East|       Way Down East|     1920|     \N|           145|  5376.0| True|
|  9|tt0012494|             Déstiny|        Der müde Tod|     1921|     \N|            97|  5842.0| True|
| 25|tt0015163|       The Navigator|       The Navigator|     1924|     \N|            59|  9652.0| True|
| 38|tt0016220|The Phantom of th...|The Phantom of th...|     1925|     \N|            93| 17887.0| True|
| 42|tt0016630|     Báttling Bútlér|     Battling Butler|     1926|     \N|            77|  3285.0| True|
| 81|tt0021015|Juno and the Paycock|                null|     1929|     \N|            85|  2275.0|False|
|118|tt0023973|Thé Éáglé ánd thé...|                null|     1933|     \N|            73|    null| True|
|119|tt0023986| Émplớyéés' Éntráncé|                null|     1933|     \N|            75|    null| True|
|123|tt0024184|   The Invisible Man|   The Invisible Man|     1933|     \N|            71| 33562.0| True|
|125|tt0024216|           King Kong|           King Kong|     1933|     \N|           100| 83177.0| True|
|135|tt0025028|               Dames|                null|     1934|     \N|            91|  2038.0| True|
|163|tt0027478|The Crime of Mons...|Le crime de Monsi...|     1936|     \N|            80|    null| True|
|180|tt0028333|          Swing Timé|                null|     1936|     \N|           103|    null| True|
|215|tt0030341|   The Lady Vanishes|   The Lady Vanishes|     1938|     \N|            96| 50707.0| True|
|222|tt0031143|The Cat and the C...|                null|     1939|     \N|            72|  2967.0| True|
|231|tt0031385|  Goodbye, Mr. Chips|                null|     1939|     \N|           114| 10311.0| True|
|239|tt0031647|            Midnight|                null|     1939|     \N|            94|  4904.0| True|
|242|tt0031762|Only Angels Have ...|                null|     1939|     \N|           121| 13595.0| True|
|253|tt0032156|The Story of the ...|  Zangiku monogatari|     1939|     \N|           143|  3600.0| True|
|265|tt0032520|  The Ghost Breakers|                null|     1940|     \N|            85|  3378.0| True|
|272|tt0032904|The Philadelphia ...|                null|     1940|   1940|           112| 66874.0| True|
|276|tt0033022|         Sáps át Séá|         Saps at Sea|     1940|     \N|            56|  2766.0| True|
|279|tt0033152| The Thief of Bagdad|                null|     1940|   1940|           106| 12840.0| True|
|300|tt0033945|Never Give a Suck...|                null|     1941|     \N|            71|  2315.0| True|
|317|tt0034862|         Holiday Inn|         Holiday Inn|     1942|     \N|           100| 14436.0| True|
|321|tt0035009|     The Mad Monster|                null|     1942|     \N|            77|  1720.0|False|
|348|tt0036260|        Phantom Lady|        Phantom Lady|     1944|     \N|            87|  4833.0| True|
|357|tt0036716|         Cobra Woman|         Cobra Woman|     1944|     \N|            71|  1101.0|False|
|367|tt0037055|The Mask of Dimit...|                null|     1944|     \N|            95|  3530.0| True|
|390|tt0037913|      Mildréd Piércé|      Mildred Pierce|     1945|     \N|           111| 24727.0| True|
|391|tt0037939|The Naughty Nineties|The Naughty Nineties|     1945|     \N|            76|  1957.0| True|
|394|tt0038057|      Scarlet Street|                null|     1945|     \N|           102| 15930.0| True|
|400|tt0038355|       The Big Sleep|                null|     1946|     \N|           114| 83357.0| True|
|407|tt0038733|  Stáirwáy tớ Héávén|A Matter of Life ...|     1946|     \N|           104| 21218.0| True|
|428|tt0039305|      Dead Reckoning|                null|     1947|   1947|           100|  7368.0| True|
|437|tt0039631|    Monsieur Verdoux|                null|     1947|     \N|           124| 16962.0| True|
|442|tt0039676|     The October Man|     The October Man|     1947|   1947|            95|  1260.0| True|
|466|tt0040626|   My Dear Secretary|   My Dear Secretary|     1948|     \N|            94|    null|False|
|471|tt0040724|           Réd Rivér|                null|     1948|     \N|           133| 30065.0| True|
|473|tt0040737|         Bitter Rice|                null|     1949|     \N|           108|  4052.0| True|
|474|tt0040795|      Sitting Pretty|                null|     1948|     \N|            83|  2332.0| True|
|475|tt0040843|The Street with N...|The Street with N...|     1948|     \N|            91|  2910.0| True|
|480|tt0040970|     The Winslow Boy|                null|     1948|     \N|           117|  1422.0| True|
|511|tt0042395|     Dévil's Dớớrwáy|                null|     1950|     \N|            84|  1544.0| True|
|513|tt0042451| Father of the Bride|                null|     1950|     \N|            92| 10941.0| True|
|517|tt0042742|          Mister 880|          Mister 880|     1950|     \N|            90|  1519.0| True|
|519|tt0042792|          No Way Out|          No Way Out|     1950|     \N|           106|  4931.0| True|
|528|tt0043278|An American in Paris|                null|     1951|     \N|           114| 32528.0| True|
|530|tt0043332|           Beautiful|                null|     1951|     \N|           114|  4439.0| True|
+---+---------+--------------------+--------------------+---------+-------+--------------+--------+-----+
only showing top 50 rows